<center><h1>Problem Statement 1</h1></center>

In [1]:
import numpy as np
import pandas as pd

## 1. Data Wrangling

In [2]:
df_exhibitors = pd.read_csv('exhibitors.csv')
df_exhibitors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467 entries, 0 to 466
Data columns (total 77 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              467 non-null    int64
 1   company_repName                 467 non-null    object
 2   company_name                    467 non-null    object
 3   blood_group                     467 non-null    object
 4   mobile_no                       467 non-null    object
 5   email                           467 non-null    object
 6   designation                     467 non-null    object
 7   country                         467 non-null    object
 8   password                        467 non-null    object
 9   exhibitor                       467 non-null    object
 10  role                            467 non-null    object
 11  pro_category                    467 non-null    object
 12  createdAt                       467 non-null    object
 13  updatedAt                       467 non-null    object
 14  company_profile                 207 non-null    object
 15  company_logo                    171 non-null    object
 16  is_confirmed                    467 non-null    int64
 17  profile_completion              467 non-null    int64
 18  city                            464 non-null    object
 19  state                           464 non-null    object
 20  address_line1                   206 non-null    object
 21  address_line2                   156 non-null    object
 22  address_line3                   88 non-null     object
 23  fascia                          204 non-null    object
 24  website                         205 non-null    object
 25  post_code                       206 non-null    object
 26  gst                             205 non-null    object
 27  host_qty                        2 non-null      float64
 28  hostess_qty                     2 non-null      float64
 29  single_phase_connection         191 non-null    float64
 30  three_phase_connection          71 non-null     float64
 31  indemnity_undertaking           467 non-null    int64
 32  fever                           467 non-null    int64
 33  cough                           467 non-null    int64
 34  breathlessness                  467 non-null    int64
 35  sore_throat_running_nose        467 non-null    int64
 36  body_ache                       467 non-null    int64
 37  other_symptom                   467 non-null    object
 38  health_undertaking_accepted     467 non-null    int64
 39  exhibitor_deliverables_correct  467 non-null    int64
 40  vaccine_certificate             2 non-null      object
 41  stall_design                    26 non-null     object
 42  stall_design_correct            467 non-null    int64
 43  alternative_email               135 non-null    object
 44  title                           205 non-null    object
 45  first_name                      205 non-null    object
 46  last_name                       205 non-null    object
 47  oem_user_profile                467 non-null    int64
 48  oem_fascia                      467 non-null    int64
 49  oem_exhibitor_badges            467 non-null    int64
 50  oem_power_requirement           467 non-null    int64
 51  oem_furniture_requirement       467 non-null    int64
 52  oem_host_hostess                467 non-null    int64
 53  oem_bare_space_stall_design     467 non-null    int64
 54  oem_booth_contractor            467 non-null    int64
 55  oem_visa                        467 non-null    int64
 56  oem_indemnity_undertaking       467 non-null    int64
 57  oem_health_undertaking          467 non-null    int64
 58  oem_participation               467 non-null    int64
 59  oem_catalog_entry               467 non-null    int64
 60  company_repProfile              4 non-null      object
 61  option_a                        467 non-null    int64
 62  option_b                        467 non-null    int64
 63  host                            197 non-null    object
 64  currentForm                     467 non-null    object
 65  currentFormIndex                467 non-null    int64
 66  booth_contractor_applicable     467 non-null    int64
 67  visa_applicable                 467 non-null    int64
 68  firebaseToken                   26 non-null     object
 69  socket_id                       1 non-null      object
 70  about_me                        0 non-null      float64
 71  catalogue_mobile_no             197 non-null    object
 72  catalogue_email                 197 non-null    object
 73  contact_person                  185 non-null    object
 74  contact_person_designation      185 non-null    object
 75  furniture_applicable            467 non-null    int64
 76  account_deletion_request        467 non-null    int64
dtypes: float64(5), int64(32), object(40)
memory usage: 281.1+ KB

In [3]:
df_exhibitors.head()

,id,company_repName,company_name,blood_group,mobile_no,email,designation,country,password,exhibitor,...,visa_applicable,firebaseToken,socket_id,about_me,catalogue_mobile_no,catalogue_email,contact_person,contact_person_designation,furniture_applicable,account_deletion_request
0,11,Ajinkya Vaidya,Exotron Thermal Private Limited,A+,+918698896786,ajinkya.vaidya@exotronthermal.com,Business Development Engineer,India,$2a$10$dSP2.wLWkjWeLivETbd/kODDNwcqjgpU/YAng/W...,exhibitor,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,12,Shankar Gawade,Morde Foods P Ltd,B+,+917028011497,shankar.gawade@morde.com,Manager - Engineering,India,$2a$10$bqNaAdp1YqETHXiGhrlaXe1pOy1opuLvXiAFuXI...,exhibitor,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,13,Yogesh Bais,Morde Foods P Ltd,B+,+919665097387,yogesh.bais@morde.com,Sr Manager - Engineering,India,$2a$10$V60rMdgfNgv5ZvykEFbVXux.MquoyTHOOE9Rxb4...,exhibitor,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,21,SHANTANU KHANNA,"ISO 9001:2015 , ISI, IBR, MSME, NSIC",B+,+919041757000,info@valvcointernational.com,Director Technical,India,$2a$10$SamJoY2Fa/Ss78XYMKA3Du8ZXdZwQpnUrg95eGL...,exhibitor,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,22,VIVEK JAIN,THE BOILER COMPONENTS MFG.CO.,B+,+919310302475,boilercomponents@yahoo.com,director,India,$2a$10$hmEdnGM8iZLqRzoS813tU.SV7HpromzJo3checU...,exhibitor,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [4]:
df_exhibitors.shape

(467, 77)

In [5]:
df_exhibitors['profile_completion'].unique()

array([0], dtype=int64)

Dropping unnecessary columns after careful deliberation

In [6]:
# drop blood group, mobile number, email, password, role, createdat, updatedat, company logo, profile completion, host_qty, hostess_qty, address vale saare, vaccine certificate, alternative email, firstname, lastname, title, company rep_profile
df_exhibitors_ml = df_exhibitors.drop(['id', 'blood_group', 'mobile_no', 'email', 'password', 'exhibitor', 'role', 'createdAt', 'updatedAt', 'company_logo', 'profile_completion', 'host_qty', 'hostess_qty', 'address_line1', 'address_line2', 'address_line3', 'fascia', 'website', 'post_code', 'gst', 'single_phase_connection', 'three_phase_connection', 'other_symptom', 'stall_design', 'vaccine_certificate', 'alternative_email', 'first_name', 'last_name', 'title', 'company_repProfile', 'oem_user_profile', 'oem_fascia', "oem_exhibitor_badges","oem_power_requirement","oem_furniture_requirement","oem_host_hostess","oem_bare_space_stall_design","oem_booth_contractor","oem_visa","oem_indemnity_undertaking","oem_health_undertaking","oem_participation","oem_catalog_entry","option_a","option_b","host","currentForm","currentFormIndex","booth_contractor_applicable","visa_applicable","firebaseToken","socket_id","about_me","catalogue_mobile_no","catalogue_email","contact_person","contact_person_designation","furniture_applicable","account_deletion_request"], axis=1)

In [7]:
df_exhibitors[['designation', 'contact_person_designation']]

                        designation contact_person_designation
0     Business Development Engineer                        NaN
1             Manager - Engineering                        NaN
2          Sr Manager - Engineering                        NaN
3                Director Technical                        NaN
4                          director                        NaN
..                              ...                        ...
462                   Sales Manager                        NaN
463  Export and Domestic Sales Head                        NaN
464                          Owner                         NaN
465                        Director                        NaN
466                  business head                         NaN

[467 rows x 2 columns]

In [8]:
df_exhibitors_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467 entries, 0 to 466
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   company_repName                 467 non-null    object
 1   company_name                    467 non-null    object
 2   designation                     467 non-null    object
 3   country                         467 non-null    object
 4   pro_category                    467 non-null    object
 5   company_profile                 207 non-null    object
 6   is_confirmed                    467 non-null    int64
 7   city                            464 non-null    object
 8   state                           464 non-null    object
 9   indemnity_undertaking           467 non-null    int64
 10  fever                           467 non-null    int64
 11  cough                           467 non-null    int64
 12  breathlessness                  467 non-null    int64
 13  sore_throat_running_nose        467 non-null    int64
 14  body_ache                       467 non-null    int64
 15  health_undertaking_accepted     467 non-null    int64
 16  exhibitor_deliverables_correct  467 non-null    int64
 17  stall_design_correct            467 non-null    int64
dtypes: int64(10), object(8)
memory usage: 65.8+ KB

In [9]:
df_exhibitors_ml.drop('company_repName', axis=1, inplace=True)

In [10]:
df_exhibitors_ml.columns

Index(['company_name', 'designation', 'country', 'pro_category',
       'company_profile', 'is_confirmed', 'city', 'state',
       'indemnity_undertaking', 'fever', 'cough', 'breathlessness',
       'sore_throat_running_nose', 'body_ache', 'health_undertaking_accepted',
       'exhibitor_deliverables_correct', 'stall_design_correct'],
      dtype='object')

In [11]:
df_visitors = pd.read_csv('visitors.csv')
df_visitors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12165 entries, 0 to 12164
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        12165 non-null  int64
 1   company_repName           12165 non-null  object
 2   company_name              12110 non-null  object
 3   blood_group               590 non-null    object
 4   mobile_no                 12161 non-null  float64
 5   email                     12164 non-null  object
 6   designation               629 non-null    object
 7   country                   11847 non-null  object
 8   password                  12165 non-null  object
 9   visitor                   0 non-null      float64
 10  profession                12165 non-null  object
 11  role                      12165 non-null  object
 12  createdAt                 12165 non-null  object
 13  updatedAt                 12165 non-null  object
 14  city                      11853 non-null  object
 15  state                     11849 non-null  object
 16  vaccine_certificate       376 non-null    object
 17  id_certificate            376 non-null    object
 18  company_logo              0 non-null      float64
 19  alternative_email         0 non-null      float64
 20  address_line1             0 non-null      float64
 21  address_line2             0 non-null      float64
 22  address_line3             0 non-null      float64
 23  company_repProfile        29 non-null     object
 24  firebaseToken             1964 non-null   object
 25  socket_id                 3 non-null      object
 26  about_me                  0 non-null      float64
 27  account_deletion_request  12165 non-null  int64
dtypes: float64(8), int64(2), object(18)
memory usage: 2.6+ MB

In [12]:
df_visitors.columns

Index(['id', 'company_repName', 'company_name', 'blood_group', 'mobile_no',
       'email', 'designation', 'country', 'password', 'visitor', 'profession',
       'role', 'createdAt', 'updatedAt', 'city', 'state',
       'vaccine_certificate', 'id_certificate', 'company_logo',
       'alternative_email', 'address_line1', 'address_line2', 'address_line3',
       'company_repProfile', 'firebaseToken', 'socket_id', 'about_me',
       'account_deletion_request'],
      dtype='object')

Again, dropping the unnecessary columns

In [13]:
df_visitors_ml = df_visitors.drop(['id', 'company_repName', 'company_name', 'blood_group', 'mobile_no',
       'email', 'country', 'password', 'visitor',
       'role', 'createdAt', 'updatedAt',
       'vaccine_certificate', 'id_certificate', 'company_logo',
       'alternative_email', 'address_line1', 'address_line2', 'address_line3',
       'company_repProfile', 'firebaseToken', 'socket_id', 'about_me',
       'account_deletion_request'], axis=1)

In [14]:
df_visitors_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12165 entries, 0 to 12164
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   designation  629 non-null    object
 1   profession   12165 non-null  object
 2   city         11853 non-null  object
 3   state        11849 non-null  object
dtypes: object(4)
memory usage: 380.3+ KB

Combining all the health malfunction columns into one sick column.

In [15]:
# in df_exhibitors_ml make it so that if any one of the following columns are 1 then create a new column called sick and set it to 1 : 'fever', 'cough', 'breathlessness','sore_throat_running_nose', 'body_ache'
df_exhibitors_ml['sick'] = df_exhibitors_ml[['fever', 'cough', 'breathlessness','sore_throat_running_nose', 'body_ache']].sum(axis=1)

It was dropped after careful thought, as only one row had a `True` value.

In [16]:
df_exhibitors_ml.drop(['sick', 'fever', 'cough', 'breathlessness',
       'sore_throat_running_nose', 'body_ache'], axis=1, inplace=True)

Removing duplicates

In [17]:
# show duplicated rows
df_exhibitors_ml[df_exhibitors_ml.duplicated()]

,company_name,designation,country,pro_category,company_profile,is_confirmed,city,state,indemnity_undertaking,health_undertaking_accepted,exhibitor_deliverables_correct,stall_design_correct
120,M/S Excel Industries Ltd,Maintenance Executive,India,Technology&serviceprovider,NaN,0,Roha,Maharashtra,0,0,0,0
363,PARAMOUNT ENGINEERS,SUPERVISOR,India,Boilercomponentmanufacturer,NaN,0,Pune,Maharashtra,0,0,0,0
369,ALFA BOILERS PVT. LTD,Marketing Executive,India,Boilermanufacturer,NaN,0,Latur,Maharashtra,0,0,0,0
373,Alfa Boilers Pvt Ltd,Engineer- Sales & Marketing,India,Boilermanufacturer,NaN,0,Pune,Maharashtra,0,0,0,0
376,Alfa Boilers Pvt Ltd,Engineer- Sales & Marketing,India,Boilermanufacturer,NaN,0,Pune,Maharashtra,0,0,0,0
407,Venus petrochemical,manager,India,Dealers/Traders/Distributors,NaN,0,Mumbai,Maharashtra,0,0,0,0

In [18]:
# drop duplicated rows
df_exhibitors_ml.drop_duplicates(inplace=True)

In [19]:
df_exhibitors_ml.info()

<class 'pandas.core.frame.DataFrame'>
Index: 461 entries, 0 to 466
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   company_name                    461 non-null    object
 1   designation                     461 non-null    object
 2   country                         461 non-null    object
 3   pro_category                    461 non-null    object
 4   company_profile                 207 non-null    object
 5   is_confirmed                    461 non-null    int64
 6   city                            458 non-null    object
 7   state                           458 non-null    object
 8   indemnity_undertaking           461 non-null    int64
 9   health_undertaking_accepted     461 non-null    int64
 10  exhibitor_deliverables_correct  461 non-null    int64
 11  stall_design_correct            461 non-null    int64
dtypes: int64(5), object(7)
memory usage: 46.8+ KB

In [20]:
# get rows with null city or state
df_exhibitors_ml[df_exhibitors_ml['city'].isnull() | df_exhibitors_ml['state'].isnull()]

,company_name,designation,country,pro_category,company_profile,is_confirmed,city,state,indemnity_undertaking,health_undertaking_accepted,exhibitor_deliverables_correct,stall_design_correct
0,Exotron Thermal Private Limited,Business Development Engineer,India,Technology&serviceprovider,NaN,0,NaN,NaN,0,0,0,0
1,Morde Foods P Ltd,Manager - Engineering,India,Technology&serviceprovider,NaN,0,NaN,NaN,0,0,0,0
2,Morde Foods P Ltd,Sr Manager - Engineering,India,Technology&serviceprovider,NaN,0,NaN,NaN,0,0,0,0

Since, there were only 3 rows who had city and state as NULL. We scoured the internet for the actual location and filled them in manually.

In [21]:
# in company_name='Exotron Thermal Private Limited' set city to 'Pune' and state to 'Maharashtra'
df_exhibitors_ml.loc[df_exhibitors_ml['company_name'] == 'Exotron Thermal Private Limited', 'city'] = 'Pune'
df_exhibitors_ml.loc[df_exhibitors_ml['company_name'] == 'Exotron Thermal Private Limited', 'state'] = 'Maharashtra'

# in company_name='Morde Foods Private Limited' set city to 'Mumbai' and state to 'Maharashtra'
df_exhibitors_ml.loc[df_exhibitors_ml['company_name'] == 'Morde Foods P Ltd', 'city'] = 'Mumbai'
df_exhibitors_ml.loc[df_exhibitors_ml['company_name'] == 'Morde Foods P Ltd', 'state'] = 'Maharashtra'

In [22]:
df_exhibitors_ml.info()

<class 'pandas.core.frame.DataFrame'>
Index: 461 entries, 0 to 466
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   company_name                    461 non-null    object
 1   designation                     461 non-null    object
 2   country                         461 non-null    object
 3   pro_category                    461 non-null    object
 4   company_profile                 207 non-null    object
 5   is_confirmed                    461 non-null    int64
 6   city                            461 non-null    object
 7   state                           461 non-null    object
 8   indemnity_undertaking           461 non-null    int64
 9   health_undertaking_accepted     461 non-null    int64
 10  exhibitor_deliverables_correct  461 non-null    int64
 11  stall_design_correct            461 non-null    int64
dtypes: int64(5), object(7)
memory usage: 46.8+ KB

In [23]:
df_exhibitors_ml.head()

,company_name,designation,country,pro_category,company_profile,is_confirmed,city,state,indemnity_undertaking,health_undertaking_accepted,exhibitor_deliverables_correct,stall_design_correct
0,Exotron Thermal Private Limited,Business Development Engineer,India,Technology&serviceprovider,NaN,0,Pune,Maharashtra,0,0,0,0
1,Morde Foods P Ltd,Manager - Engineering,India,Technology&serviceprovider,NaN,0,Mumbai,Maharashtra,0,0,0,0
2,Morde Foods P Ltd,Sr Manager - Engineering,India,Technology&serviceprovider,NaN,0,Mumbai,Maharashtra,0,0,0,0
3,"ISO 9001:2015 , ISI, IBR, MSME, NSIC",Director Technical,India,Ancillaries,"Greetings Sir,\n\n\n\nFounded in 1995, VALVCO ...",0,Jalandhar,Punjab,0,0,0,0
4,THE BOILER COMPONENTS MFG.CO.,director,India,Boilercomponentmanufacturer,NaN,0,North West Delhi,DELHI,0,0,0,0

Fixing spelling mistakes/typos and standardizing the names of states.

In [24]:
df_exhibitors_ml['state'] = df_exhibitors_ml['state'].str.upper()

# Define a mapping of patterns to standard state names and their short forms
state_pattern_mapping = {
    '.MAHARASHTRA.': 'Maharashtra',
    '.MAHARASTRA.': 'Maharashtra',
    '.MAHARASTR.': 'Maharashtra',
    '.MAHARSHTRA.': 'Maharashtra',
    '.MH.': 'Maharashtra',
    '.GUJARAT.': 'Gujarat',
    '.GUJRAT.': 'Gujarat',
    '.TAMIL NADU.': 'Tamil Nadu',
    '.TAMILNADU.': 'Tamil Nadu',
    '.TN.': 'Tamil Nadu',
    '.UTTAR PRADESH.': 'Uttar Pradesh',
    '.UP.': 'Uttar Pradesh',
    '.HARYANA.': 'Haryana',
    '.KARNATAKA.': 'Karnataka',
    '.MADHYA PRADESH.': 'Madhya Pradesh',
    '.WEST BENGAL.': 'West Bengal',
    '.RAJASTHAN.': 'Rajasthan',
    '.KERALA.': 'Kerala',
    '.BIHAR.': 'Bihar',
    '.TELANGANA.': 'Telangana',
    '.PUNJAB.': 'Punjab',
    '.ANDHRA PRADESH.': 'Andhra Pradesh',
    '.JAMMU & KASHMIR.': 'Jammu & Kashmir',
    '.DADRA AND NAGAR HAVELI.': 'Dadra and Nagar Haveli'
}

# Apply the pattern matching and replacement for state names
for pattern, replacement in state_pattern_mapping.items():
    df_exhibitors_ml['state'] = df_exhibitors_ml['state'].replace(pattern, replacement, regex=True)

In [25]:
df_exhibitors_ml_easy = df_exhibitors_ml.drop('company_profile', axis=1)

In [26]:
df_exhibitors_ml_easy.columns

Index(['company_name', 'designation', 'country', 'pro_category',
       'is_confirmed', 'city', 'state', 'indemnity_undertaking',
       'health_undertaking_accepted', 'exhibitor_deliverables_correct',
       'stall_design_correct'],
      dtype='object')

In [27]:
df_visitors_ml.head()

,designation,profession,city,state
0,Assistant Manager,Engineer/Operatorlookingfornewtechnology,Delhi,Delhi
1,Business Development Manager,Purchase personnel from boiler manufacturing c...,Hyderabad,Telanagana
2,Boiler Attendant,Engineer/Operatorlookingfornewtechnology,Solapur,Maharashtra
3,Assistant Manager - BD,RenewableEnergyProjectDeveloper,Pune,Maharashtra
4,Founder,PurchasePersonnelFromBoilerManufacturingCompany,Surat,Gujarat

The next step is tokenizing important textual features so that we may use them for our recommendation algorithm. In `df_exhibitors_ml_easy` we chose the following - 
* `company_name`
* `pro_category`
* `city`
* `state`

In [28]:
# tokenize company name in df_exhibitors_ml_easy use nltk
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

df_exhibitors_ml_easy['company_name'] = df_exhibitors_ml_easy['company_name'].apply(lambda x: word_tokenize(x))

df_exhibitors_ml_easy['company_name']

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\parth\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

0                   [Exotron, Thermal, Private, Limited]
1                                 [Morde, Foods, P, Ltd]
2                                 [Morde, Foods, P, Ltd]
3      [ISO, 9001:2015, ,, ISI, ,, IBR, ,, MSME, ,, N...
4                   [THE, BOILER, COMPONENTS, MFG.CO, .]
                             ...
462            [Total, Shipping, &, Logistics, Pvt, Ltd]
463                                     [Manisha, steel]
464                           [Performance, Engineering]
465                        [Energy, Process, Equipments]
466                       [supertech, fabrics, pvt, ltd]
Name: company_name, Length: 461, dtype: object

In [29]:
# convert company name to lowercase
df_exhibitors_ml_easy['company_name'] = df_exhibitors_ml_easy['company_name'].apply(lambda x: [word.lower() for word in x])

df_exhibitors_ml_easy['company_name']

0                   [exotron, thermal, private, limited]
1                                 [morde, foods, p, ltd]
2                                 [morde, foods, p, ltd]
3      [iso, 9001:2015, ,, isi, ,, ibr, ,, msme, ,, n...
4                   [the, boiler, components, mfg.co, .]
                             ...
462            [total, shipping, &, logistics, pvt, ltd]
463                                     [manisha, steel]
464                           [performance, engineering]
465                        [energy, process, equipments]
466                       [supertech, fabrics, pvt, ltd]
Name: company_name, Length: 461, dtype: object

In [30]:
# remove stopwords
nltk.download('stopwords')
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))

df_exhibitors_ml_easy['company_name'] = df_exhibitors_ml_easy['company_name'].apply(lambda x: [word for word in x if word not in stop_words])

df_exhibitors_ml_easy['company_name']

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\parth\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0                   [exotron, thermal, private, limited]
1                                 [morde, foods, p, ltd]
2                                 [morde, foods, p, ltd]
3      [iso, 9001:2015, ,, isi, ,, ibr, ,, msme, ,, n...
4                        [boiler, components, mfg.co, .]
                             ...
462            [total, shipping, &, logistics, pvt, ltd]
463                                     [manisha, steel]
464                           [performance, engineering]
465                        [energy, process, equipments]
466                       [supertech, fabrics, pvt, ltd]
Name: company_name, Length: 461, dtype: object

In [31]:
df_exhibitors_ml_easy['pro_category'].unique()

array(['Technology&serviceprovider', 'Ancillaries',
       'Boilercomponentmanufacturer', 'Boilermanufacturer',
       'Dealers/Traders/Distributors', 'Turbinemanufacturer',
       'Professionals in NDE, energy audit, RLA and R&M',
       'WTP, ETP & other pollution control equipment manufacturer'],
      dtype=object)

We also cleaned `pro_category` column by mapping their values with better and understandable format and easier to tokenize.

In [32]:
li = ['Technology&serviceprovider', 'Ancillaries',
       'Boilercomponentmanufacturer', 'Boilermanufacturer',
       'Dealers/Traders/Distributors', 'Turbinemanufacturer',
       'Professionals in NDE, energy audit, RLA and R&M',
       'WTP, ETP & other pollution control equipment manufacturer']

vals = ['technology and service provider', 'ancillaries', 'boiler component manufacturer', 'boiler manufacturer',
'dealer trader distributor', 'turbine manufacturer', 'professional nondestructive examiner energy audit rated load amp repair maintenance',
'wtp etp & pollution control equipment manufacturer']

# map li to vals
my_map = dict(zip(li, vals))

# use this map to convert 'pro_category'
df_exhibitors_ml_easy['pro_category'] = df_exhibitors_ml_easy['pro_category'].map(my_map)

In [33]:
# tokenize pro_category
df_exhibitors_ml_easy['pro_category'] = df_exhibitors_ml_easy['pro_category'].apply(lambda x: word_tokenize(x))

# remove stopwords
df_exhibitors_ml_easy['pro_category'] = df_exhibitors_ml_easy['pro_category'].apply(lambda x: [word for word in x if word not in stop_words])

In [34]:
df_visitors_ml.columns

Index(['designation', 'profession', 'city', 'state'], dtype='object')

In [35]:
# convert each str in city and state to a list containing one element also lowercase the string
df_exhibitors_ml_easy['city'] = df_exhibitors_ml_easy['city'].apply(lambda x: [x.lower()])
df_exhibitors_ml_easy['state'] = df_exhibitors_ml_easy['state'].apply(lambda x: [x.lower()])

Combining all the tokenized columns into one

In [36]:
# combine company_name, pro_category, city and state into one tokenized column

df_exhibitors_ml_easy['combined'] = df_exhibitors_ml_easy['company_name'] + df_exhibitors_ml_easy['pro_category'] + df_exhibitors_ml_easy['city'] + df_exhibitors_ml_easy['state']

df_exhibitors_ml_easy['combined']

0      [exotron, thermal, private, limited, technolog...
1      [morde, foods, p, ltd, technology, service, pr...
2      [morde, foods, p, ltd, technology, service, pr...
3      [iso, 9001:2015, ,, isi, ,, ibr, ,, msme, ,, n...
4      [boiler, components, mfg.co, ., boiler, compon...
                             ...
462    [total, shipping, &, logistics, pvt, ltd, boil...
463    [manisha, steel, boiler, component, manufactur...
464    [performance, engineering, boiler, manufacture...
465    [energy, process, equipments, boiler, manufact...
466    [supertech, fabrics, pvt, ltd, ancillaries, va...
Name: combined, Length: 461, dtype: object

Creating a `Tfidf` vector out of this combined column so that we may apply our recommender algorithms on it.

In [37]:
# convert this to a tfid matrix
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()

tfidf_matrix_exhibitors = tfidf.fit_transform(df_exhibitors_ml_easy['combined'].apply(lambda x: ' '.join(x)))

tfidf_matrix_exhibitors

<461x759 sparse matrix of type '<class 'numpy.float64'>'
	with 3768 stored elements in Compressed Sparse Row format>

In [38]:
print(df_exhibitors_ml_easy['combined'].apply(lambda x: ' '.join(x)))

0      exotron thermal private limited technology ser...
1      morde foods p ltd technology service provider ...
2      morde foods p ltd technology service provider ...
3      iso 9001:2015 , isi , ibr , msme , nsic ancill...
4      boiler components mfg.co . boiler component ma...
                             ...
462    total shipping & logistics pvt ltd boiler manu...
463    manisha steel boiler component manufacturer mu...
464    performance engineering boiler manufacturer an...
465    energy process equipments boiler manufacturer ...
466    supertech fabrics pvt ltd ancillaries vadodara...
Name: combined, Length: 461, dtype: object

We do the same thing to `df_visitors_ml` as we did to `df_exhibitors_ml_easy`.

In [39]:
df_visitors_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12165 entries, 0 to 12164
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   designation  629 non-null    object
 1   profession   12165 non-null  object
 2   city         11853 non-null  object
 3   state        11849 non-null  object
dtypes: object(4)
memory usage: 380.3+ KB

In [40]:
df_visitors_ml.drop('designation', axis=1, inplace=True)

In [41]:
# drop rows containing null values
df_visitors_ml.dropna(inplace=True)

In [42]:
df_visitors_ml['profession'].unique()

array(['Engineer/Operatorlookingfornewtechnology',
       'Purchase personnel from boiler manufacturing company',
       'RenewableEnergyProjectDeveloper',
       'PurchasePersonnelFromBoilerManufacturingCompany',
       'DesignEngineer/Consultant', 'Academician/student',
       'Purchase personnel from boiler-user industry',
       'Regulatory Authority/PolicyMaker/UrbanPlanningSpecialist/Utility&EnergyCompany',
       'Academicians / students / engineering colleges',
       'Regulatory authority / policy maker / urban planning specialist / utility & energy company',
       'Engineer / operator looking for new technology', 'R&DInstitution',
       'AgenciesDealingInInstrumentation',
       'Agencies dealing in instrumentation',
       'Design engineer / consultant',
       'Investor/banker/ventureCapitalist',
       'Investor / banker / venture capitalist', 'other'], dtype=object)

In [43]:
li_visitors = [
    'Engineer/Operatorlookingfornewtechnology',
    'Purchase personnel from boiler manufacturing company',
    'RenewableEnergyProjectDeveloper',
    'PurchasePersonnelFromBoilerManufacturingCompany',
    'DesignEngineer/Consultant', 'Academician/student',
    'Purchase personnel from boiler-user industry',
    'Regulatory Authority/PolicyMaker/UrbanPlanningSpecialist/Utility&EnergyCompany',
    'Academicians / students / engineering colleges',
    'Regulatory authority / policy maker / urban planning specialist / utility & energy company',
    'Engineer / operator looking for new technology', 'R&DInstitution',
    'AgenciesDealingInInstrumentation',
    'Agencies dealing in instrumentation',
    'Design engineer / consultant',
    'Investor/banker/ventureCapitalist',
    'Investor / banker / venture capitalist', 'other'
]

vals_visitors = [
    'engineer operator new technology',
    'purchase personnel boiler manufacturing company',
    'renewable energy project developer',
    'purchase personnel boiler manufacturing company',
    'design engineer consultant', 'academician student',
    'purchase personnel boiler user industry',
    'regulatory authority policy maker urban planning specialist utility energy company',
    'academician student engineering college',
    'regulatory authority policy maker urban planning specialist utility energy company',
    'engineer operator new technology', 'research development institution',
    'agencies deal instrumentation',
    'agencies deal instrumentation',
    'design engineer consultant',
    'investor banker venture capitalist',
    'investor banker venture capitalist', 'other'
]

my_map_visitors = dict(zip(li_visitors, vals_visitors))

df_visitors_ml['profession'] = df_visitors_ml['profession'].map(my_map_visitors)

df_visitors_ml['profession'] = df_visitors_ml['profession'].apply(lambda x: word_tokenize(x))

df_visitors_ml['profession'] = df_visitors_ml['profession'].apply(lambda x: [word for word in x if word not in stop_words])

df_visitors_ml['profession']

0                    [engineer, operator, new, technology]
1        [purchase, personnel, boiler, manufacturing, c...
2                    [engineer, operator, new, technology]
3                  [renewable, energy, project, developer]
4        [purchase, personnel, boiler, manufacturing, c...
                               ...
12160        [purchase, personnel, boiler, user, industry]
12161        [purchase, personnel, boiler, user, industry]
12162                       [design, engineer, consultant]
12163    [purchase, personnel, boiler, manufacturing, c...
12164                       [design, engineer, consultant]
Name: profession, Length: 11848, dtype: object

In [44]:
df_visitors_ml['city'] = df_visitors_ml['city'].apply(lambda x: [x.lower()])
df_visitors_ml['state'] = df_visitors_ml['state'].apply(lambda x: [x.lower()])

In [45]:
# combine profession, city and state into one tokenized column

df_visitors_ml['combined'] = df_visitors_ml['profession'] + df_visitors_ml['city'] + df_visitors_ml['state']

df_visitors_ml['combined']

0        [engineer, operator, new, technology, delhi, d...
1        [purchase, personnel, boiler, manufacturing, c...
2        [engineer, operator, new, technology, solapur ...
3        [renewable, energy, project, developer, pune, ...
4        [purchase, personnel, boiler, manufacturing, c...
                               ...
12160    [purchase, personnel, boiler, user, industry, ...
12161    [purchase, personnel, boiler, user, industry, ...
12162    [design, engineer, consultant, nashik, maharas...
12163    [purchase, personnel, boiler, manufacturing, c...
12164    [design, engineer, consultant, mumbai, maharas...
Name: combined, Length: 11848, dtype: object

In [46]:
# convert this to a tfid matrix
tfidf_matrix_visitors = tfidf.transform(df_visitors_ml['combined'].apply(lambda x: ' '.join(x)))

tfidf_matrix_visitors

<11848x759 sparse matrix of type '<class 'numpy.float64'>'
	with 37898 stored elements in Compressed Sparse Row format>

## 2. Model Building

We tried 3 different algorithms to find out similarities between exhibitors and visitors

### 2.1. Cosine Similarity

In [47]:
# recommendation generation
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf_matrix_exhibitors, tfidf_matrix_visitors)

cosine_sim

array([[0.05358213, 0.        , 0.13459417, ..., 0.03254584, 0.        ,
        0.08308878],
       [0.0596231 , 0.        , 0.14976864, ..., 0.03621513, 0.        ,
        0.18934737],
       [0.0596231 , 0.        , 0.14976864, ..., 0.03621513, 0.        ,
        0.18934737],
       ...,
       [0.        , 0.04866673, 0.        , ..., 0.        , 0.04320372,
        0.        ],
       [0.        , 0.04864124, 0.        , ..., 0.        , 0.04318108,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [48]:
# generate recommendation for a random visitor
visitor_index = 0
recommendations = list(enumerate(cosine_sim[:, visitor_index]))

recommendations = sorted(recommendations, key=lambda x: x[1], reverse=True)

recommendations

[(138, 0.7949199736123486),
 (26, 0.7449697837687091),
 (53, 0.7384581376752204),
 (62, 0.7243526289642903),
 (123, 0.7083507044195018),
 (46, 0.624949909213203),
 (260, 0.6142955666227381),
 (131, 0.6034657098872553),
 (4, 0.4806763998774414),
 (237, 0.15774683127541853),
 (107, 0.11280914130165332),
 (371, 0.07680079306220321),
 (21, 0.07472661849681844),
 (308, 0.07472661849681844),
 (317, 0.07472661849681844),
 (437, 0.07124174787369775),
 (7, 0.07034849466140608),
 (11, 0.06984237931067616),
 (99, 0.0648108244938934),
 (277, 0.0644100834353049),
 (258, 0.06418234925460485),
 (94, 0.06320520368503978),
 (218, 0.0606015951377954),
 (311, 0.06053899818716619),
 (1, 0.059623104559691484),
 (2, 0.059623104559691484),
 (387, 0.059623104559691484),
 (18, 0.059095659745368886),
 (139, 0.0589382245529048),
 (49, 0.05798293199192859),
 (104, 0.05693496254957108),
 (335, 0.056784560037291563),
 (259, 0.056399171881317926),
 (356, 0.05603228517331416),
 (85, 0.055908212119764336),
 (50, 0.05579907190368882),
 (195, 0.05544629904402772),
 (68, 0.055374054950652334),
 (119, 0.055365109189643304),
 (348, 0.05500006512274874),
 (76, 0.05438837047405937),
 (148, 0.05436685519386349),
 (287, 0.054003838386364654),
 (226, 0.053921381151884315),
 (0, 0.05358212718504284),
 (8, 0.053201304979850754),
 (227, 0.05310741070537949),
 (12, 0.052982194644206754),
 (217, 0.052798787675999416),
 (120, 0.05279461301609928),
 (225, 0.05279076873850254),
 (378, 0.05279076873850254),
 (423, 0.05267432643486928),
 (205, 0.0526047978294896),
 (69, 0.05230199226120079),
 (293, 0.05202104729533241),
 (39, 0.051841471026729175),
 (192, 0.051722352728186406),
 (331, 0.05142886201000414),
 (206, 0.05120742553586387),
 (283, 0.0506270694776363),
 (252, 0.05022322104434195),
 (9, 0.050221342924276845),
 (455, 0.04971106707835639),
 (177, 0.04970973460199442),
 (204, 0.04962628761355661),
 (300, 0.04950956556923448),
 (73, 0.049261025884606555),
 (323, 0.049223582280684235),
 (154, 0.048963938218244345),
 (156, 0.04885119957331045),
 (362, 0.04844639303455022),
 (373, 0.048397199611959416),
 (276, 0.048384456385382205),
 (271, 0.04810457137952717),
 (114, 0.04758046147276609),
 (201, 0.0474514188469874),
 (169, 0.04724120902425473),
 (157, 0.0472238985448313),
 (305, 0.047114506483482824),
 (178, 0.04685772039127115),
 (141, 0.04679874904485089),
 (161, 0.04677142621252644),
 (81, 0.04657177894604072),
 (173, 0.04646068835578568),
 (386, 0.046283812633763424),
 (17, 0.046246818865720504),
 (453, 0.04576178289610296),
 (117, 0.0454806519053008),
 (264, 0.04453830422398511),
 (299, 0.04417003852811909),
 (6, 0.04402821160530253),
 (74, 0.04369740001485922),
 (275, 0.043251946851042965),
 (400, 0.043094143827262274),
 (105, 0.04250368473298886),
 (349, 0.04168079537054089),
 (151, 0.0414177855476181),
 (111, 0.04072300262611847),
 (412, 0.03900055099979203),
 (363, 0.038713978156045645),
 (149, 0.0373085510970784),
 (3, 0.0),
 (5, 0.0),
 (10, 0.0),
 (13, 0.0),
 (14, 0.0),
 (15, 0.0),
 (16, 0.0),
 (19, 0.0),
 (20, 0.0),
 (22, 0.0),
 (23, 0.0),
 (24, 0.0),
 (25, 0.0),
 (27, 0.0),
 (28, 0.0),
 (29, 0.0),
 (30, 0.0),
 (31, 0.0),
 (32, 0.0),
 (33, 0.0),
 (34, 0.0),
 (35, 0.0),
 (36, 0.0),
 (37, 0.0),
 (38, 0.0),
 (40, 0.0),
 (41, 0.0),
 (42, 0.0),
 (43, 0.0),
 (44, 0.0),
 (45, 0.0),
 (47, 0.0),
 (48, 0.0),
 (51, 0.0),
 (52, 0.0),
 (54, 0.0),
 (55, 0.0),
 (56, 0.0),
 (57, 0.0),
 (58, 0.0),
 (59, 0.0),
 (60, 0.0),
 (61, 0.0),
 (63, 0.0),
 (64, 0.0),
 (65, 0.0),
 (66, 0.0),
 (67, 0.0),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (75, 0.0),
 (77, 0.0),
 (78, 0.0),
 (79, 0.0),
 (80, 0.0),
 (82, 0.0),
 (83, 0.0),
 (84, 0.0),
 (86, 0.0),
 (87, 0.0),
 (88, 0.0),
 (89, 0.0),
 (90, 0.0),
 (91, 0.0),
 (92, 0.0),
 (93, 0.0),
 (95, 0.0),
 (96, 0.0),
 (97, 0.0),
 (98, 0.0),
 (100, 0.0),
 (101, 0.0),
 (102, 0.0),
 (103, 0.0),
 (106, 0.0),
 (108, 0.0),
 (109, 0.0),
 (110, 0.0),
 (112, 0.0),
 (113, 0.0),
 (115, 0.0),
 (116, 0.0),
 (118, 0.0),
 (121, 0.0),
 (122, 0.0),
 (124, 0.0),
 (125, 0.0),
 (126, 0.0),
 (127, 0.0),
 (128, 0.0),
 (129, 0.0),
 (130, 0.0),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (135, 0.0),
 (136, 0.0),
 (137, 0.0),
 (140, 0.0),
 (142, 0.0),
 (143, 0.0),
 (144, 0.0),
 (145, 0.0),
 (146, 0.0),
 (147, 0.0),
 (150, 0.0),
 (152, 0.0),
 (153, 0.0),
 (155, 0.0),
 (158, 0.0),
 (159, 0.0),
 (160, 0.0),
 (162, 0.0),
 (163, 0.0),
 (164, 0.0),
 (165, 0.0),
 (166, 0.0),
 (167, 0.0),
 (168, 0.0),
 (170, 0.0),
 (171, 0.0),
 (172, 0.0),
 (174, 0.0),
 (175, 0.0),
 (176, 0.0),
 (179, 0.0),
 (180, 0.0),
 (181, 0.0),
 (182, 0.0),
 (183, 0.0),
 (184, 0.0),
 (185, 0.0),
 (186, 0.0),
 (187, 0.0),
 (188, 0.0),
 (189, 0.0),
 (190, 0.0),
 (191, 0.0),
 (193, 0.0),
 (194, 0.0),
 (196, 0.0),
 (197, 0.0),
 (198, 0.0),
 (199, 0.0),
 (200, 0.0),
 (202, 0.0),
 (203, 0.0),
 (207, 0.0),
 (208, 0.0),
 (209, 0.0),
 (210, 0.0),
 (211, 0.0),
 (212, 0.0),
 (213, 0.0),
 (214, 0.0),
 (215, 0.0),
 (216, 0.0),
 (219, 0.0),
 (220, 0.0),
 (221, 0.0),
 (222, 0.0),
 (223, 0.0),
 (224, 0.0),
 (228, 0.0),
 (229, 0.0),
 (230, 0.0),
 (231, 0.0),
 (232, 0.0),
 (233, 0.0),
 (234, 0.0),
 (235, 0.0),
 (236, 0.0),
 (238, 0.0),
 (239, 0.0),
 (240, 0.0),
 (241, 0.0),
 (242, 0.0),
 (243, 0.0),
 (244, 0.0),
 (245, 0.0),
 (246, 0.0),
 (247, 0.0),
 (248, 0.0),
 (249, 0.0),
 (250, 0.0),
 (251, 0.0),
 (253, 0.0),
 (254, 0.0),
 (255, 0.0),
 (256, 0.0),
 (257, 0.0),
 (261, 0.0),
 (262, 0.0),
 (263, 0.0),
 (265, 0.0),
 (266, 0.0),
 (267, 0.0),
 (268, 0.0),
 (269, 0.0),
 (270, 0.0),
 (272, 0.0),
 (273, 0.0),
 (274, 0.0),
 (278, 0.0),
 (279, 0.0),
 (280, 0.0),
 (281, 0.0),
 (282, 0.0),
 (284, 0.0),
 (285, 0.0),
 (286, 0.0),
 (288, 0.0),
 (289, 0.0),
 (290, 0.0),
 (291, 0.0),
 (292, 0.0),
 (294, 0.0),
 (295, 0.0),
 (296, 0.0),
 (297, 0.0),
 (298, 0.0),
 (301, 0.0),
 (302, 0.0),
 (303, 0.0),
 (304, 0.0),
 (306, 0.0),
 (307, 0.0),
 (309, 0.0),
 (310, 0.0),
 (312, 0.0),
 (313, 0.0),
 (314, 0.0),
 (315, 0.0),
 (316, 0.0),
 (318, 0.0),
 (319, 0.0),
 (320, 0.0),
 (321, 0.0),
 (322, 0.0),
 (324, 0.0),
 (325, 0.0),
 (326, 0.0),
 (327, 0.0),
 (328, 0.0),
 (329, 0.0),
 (330, 0.0),
 (332, 0.0),
 (333, 0.0),
 (334, 0.0),
 (336, 0.0),
 (337, 0.0),
 (338, 0.0),
 (339, 0.0),
 (340, 0.0),
 (341, 0.0),
 (342, 0.0),
 (343, 0.0),
 (344, 0.0),
 (345, 0.0),
 (346, 0.0),
 (347, 0.0),
 (350, 0.0),
 (351, 0.0),
 (352, 0.0),
 (353, 0.0),
 (354, 0.0),
 (355, 0.0),
 (357, 0.0),
 (358, 0.0),
 (359, 0.0),
 (360, 0.0),
 (361, 0.0),
 (364, 0.0),
 (365, 0.0),
 (366, 0.0),
 (367, 0.0),
 (368, 0.0),
 (369, 0.0),
 (370, 0.0),
 (372, 0.0),
 (374, 0.0),
 (375, 0.0),
 (376, 0.0),
 (377, 0.0),
 (379, 0.0),
 (380, 0.0),
 (381, 0.0),
 (382, 0.0),
 (383, 0.0),
 (384, 0.0),
 (385, 0.0),
 (388, 0.0),
 (389, 0.0),
 (390, 0.0),
 (391, 0.0),
 (392, 0.0),
 (393, 0.0),
 (394, 0.0),
 (395, 0.0),
 (396, 0.0),
 (397, 0.0),
 (398, 0.0),
 (399, 0.0),
 (401, 0.0),
 (402, 0.0),
 (403, 0.0),
 (404, 0.0),
 (405, 0.0),
 (406, 0.0),
 (407, 0.0),
 (408, 0.0),
 (409, 0.0),
 (410, 0.0),
 (411, 0.0),
 (413, 0.0),
 (414, 0.0),
 (415, 0.0),
 (416, 0.0),
 (417, 0.0),
 (418, 0.0),
 (419, 0.0),
 (420, 0.0),
 (421, 0.0),
 (422, 0.0),
 (424, 0.0),
 (425, 0.0),
 (426, 0.0),
 (427, 0.0),
 (428, 0.0),
 (429, 0.0),
 (430, 0.0),
 (431, 0.0),
 (432, 0.0),
 (433, 0.0),
 (434, 0.0),
 (435, 0.0),
 (436, 0.0),
 (438, 0.0),
 (439, 0.0),
 (440, 0.0),
 (441, 0.0),
 (442, 0.0),
 (443, 0.0),
 (444, 0.0),
 (445, 0.0),
 (446, 0.0),
 (447, 0.0),
 (448, 0.0),
 (449, 0.0),
 (450, 0.0),
 (451, 0.0),
 (452, 0.0),
 (454, 0.0),
 (456, 0.0),
 (457, 0.0),
 (458, 0.0),
 (459, 0.0),
 (460, 0.0)]

In [49]:
# get company names from df_exhibitors_ml
company_names = df_exhibitors_ml['company_name']
company_names[0]

'Exotron Thermal Private Limited'

In [50]:
# get company rep names and mobile numbers
company_repNames = df_exhibitors['company_repName']
company_repMobileNumbers = df_exhibitors['mobile_no']

### 2.2. Pearson Correlation

In [51]:
pearson_sim = np.corrcoef(tfidf_matrix_exhibitors.toarray(), tfidf_matrix_visitors.toarray())

pearson_sim

c:\Users\parth\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2853: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
c:\Users\parth\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

array([[ 1.        ,  0.19475158,  0.19475158, ...,  0.02835514,
        -0.0069048 ,  0.07746475],
       [ 0.19475158,  1.        ,  1.        , ...,  0.03237975,
        -0.00633469,  0.18481874],
       [ 0.19475158,  1.        ,  1.        , ...,  0.03237975,
        -0.00633469,  0.18481874],
       ...,
       [ 0.02835514,  0.03237975,  0.03237975, ...,  1.        ,
        -0.00305318,  0.1462852 ],
       [-0.0069048 , -0.00633469, -0.00633469, ..., -0.00305318,
         1.        , -0.00431608],
       [ 0.07746475,  0.18481874,  0.18481874, ...,  0.1462852 ,
        -0.00431608,  1.        ]])

### 2.3. Euclidean Distance

In [52]:
# get euclidean distances

from sklearn.metrics.pairwise import euclidean_distances

euclidean_sim = euclidean_distances(tfidf_matrix_exhibitors, tfidf_matrix_visitors)

euclidean_sim

array([[1.37580367, 1.41421356, 1.31560315, ..., 1.39100982, 1.41421356,
        1.35418701],
       [1.37140577, 1.41421356, 1.30401792, ..., 1.38836945, 1.41421356,
        1.27330485],
       [1.37140577, 1.41421356, 1.30401792, ..., 1.38836945, 1.41421356,
        1.27330485],
       ...,
       [1.41421356, 1.37937179, 1.41421356, ..., 1.41421356, 1.38332663,
        1.41421356],
       [1.41421356, 1.37939027, 1.41421356, ..., 1.41421356, 1.38334299,
        1.41421356],
       [1.41421356, 1.41421356, 1.41421356, ..., 1.41421356, 1.41421356,
        1.41421356]])

In [53]:
def get_exhibitor_recommendation(visitor_index:int, similarity=cosine_sim):
    recommendations = list(enumerate(similarity[:, visitor_index]))
    recommendations = sorted(recommendations, key=lambda x: x[1], reverse=True)
    recommendations = recommendations[:5]
    recs = list()
    for recommendation in recommendations:
        recs.append((
            company_names[recommendation[0]],
            company_repNames[recommendation[0]],
            company_repMobileNumbers[recommendation[0]],
            recommendation[0]))
    return recs

In [54]:
get_exhibitor_recommendation(11, similarity=cosine_sim)

[('Alfa Boilers Pvt. Ltd.', 'Chandrakant Wani', '+919922066661', 372),
 ('TPP Boilers Pvt. Ltd.', 'Sameer Chaughule', '9892375511', 356),
 ('MOONLIGHT TUBE INDUSTRIES', 'JIGAR VANJARA', '+919898878926', 323),
 ('Tubacex Service Solutions India Pvt. Ltd.',
  'Kunal K. Singh',
  '+919769618969',
  254),
 ('Alfa Boilers Pvt. Ltd.', 'Gautam Pawar', '+917720098866', 381)]

In [55]:
get_exhibitor_recommendation(11, similarity=pearson_sim)

[('BiofuelCircle Pvt. Ltd.', 'Binish Surendran', '+919850313900', 11),
 ('GulJag Industries Ltd', 'Govind Sharda', '+919772696000', 277),
 ('HINDUSTAN PETROLEUM CORPORATION LIMITED',
  'ARIJEET KARMAKAR',
  '+919770254767',
  331),
 ('sawhney industries', 'karan sawhney', '+919999950064', 139),
 ('Alfa Boiler Pvt. Ltd.', 'Mallikarjun Menkudale', '+919921439644', 7)]

In [56]:
get_exhibitor_recommendation(11, similarity=euclidean_sim)

[('Tata steel Ltd', 'Sanjay c raich', '+919205853991', 81),
 ('Precision Mass Products Private Limited',
  'Valmik Patel',
  '+919712578787',
  88),
 ('Maruti seals pvt ltd', 'Prashant sarode', '+917798421230', 171),
 ('Sapsons Industrial Equipments Pvt. Ltd.',
  'A Athi Pandian',
  '+919810356615',
  178),
 ('MH FLUID', 'MAYURI HARIDAS', '+918788134393', 193)]

Finally, `cosine_similarity` found itself as our algorithm of choice based on our observed results.

### 2.4. Creating a recommendation model based on the visitor's previous ratings.

In [57]:
df_attended_events = pd.read_csv('attended_events.csv')
df_attended_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   visitor    13 non-null     int64
 1   exhibitor  13 non-null     int64
 2   rating     13 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 444.0 bytes

In [58]:
visitor_attended = dict()
for index, row in df_attended_events.iterrows():
    if row['visitor'] in visitor_attended:
        visitor_attended[row['visitor']].append((row['exhibitor'], row['rating']))
    else:
        visitor_attended[row['visitor']] = [(row['exhibitor'], row['rating'])]

visitor_attended

{13.0: [(18.0, 1.5), (19.0, 5.0), (40.0, 4.0)],
 56.0: [(11.0, 3.5), (90.0, 2.0)],
 138.0: [(179.0, 4.5), (384.0, 3.0), (144.0, 1.0), (215.0, 3.5)],
 348.0: [(97.0, 2.5), (351.0, 4.0)],
 197.0: [(309.0, 3.0)],
 4.0: [(439.0, 3.0)]}

In [59]:
# get similarity of exhibitors
cosine_sim_exhibitors = cosine_similarity(tfidf_matrix_exhibitors)
cosine_sim_exhibitors

array([[1.        , 0.20200213, 0.20200213, ..., 0.        , 0.        ,
        0.        ],
       [0.20200213, 1.        , 1.        , ..., 0.        , 0.        ,
        0.03114498],
       [0.20200213, 1.        , 1.        , ..., 0.        , 0.        ,
        0.03114498],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.14957231,
        0.08534529],
       [0.        , 0.        , 0.        , ..., 0.14957231, 1.        ,
        0.27162856],
       [0.        , 0.03114498, 0.03114498, ..., 0.08534529, 0.27162856,
        1.        ]])

In [60]:
# for all the exhibitors of a visitor, get two similar exhibitors
def get_similar_exhibitors_from_visitors_attended(visitor_index:int):
    recs = list()
    for exhibitor, rating in visitor_attended[visitor_index]:
        recommendations = list(enumerate(cosine_sim_exhibitors[int(exhibitor)]))
        recommendations = sorted(recommendations, key=lambda x: x[1], reverse=True)
        recommendations = recommendations[:2]
        for recommendation in recommendations:
            recs.append((
                company_names[recommendation[0]],
                company_repNames[recommendation[0]],
                company_repMobileNumbers[recommendation[0]],
                recommendation[0],
                rating))

    # sort according to rating
    recs.sort(key=lambda x: x[4], reverse=True)
    # remove rating from recs
    recs = [rec[:-1] for rec in recs]

    return recs

In [61]:
get_similar_exhibitors_from_visitors_attended(56)

[('BiofuelCircle Pvt. Ltd.', 'Binish Surendran', '+919850313900', 11),
 ('GulJag Industries Ltd', 'Govind Sharda', '+919772696000', 277),
 ('MUKUND BOILERS', 'Swapnil Mukund Vichare', '+919833597755', 90),
 ('PEARLS METALS', 'PRAFUL R. CHANDAN', '+919820066232', 313)]

In [62]:
get_exhibitor_recommendation(0)

[('Toshniwal Industries Pvt Ltd', 'Shubham Rawat', '+919352009002', 138),
 ('Steamgen & Control Systems', 'Abhishek Sharma', '+919990972727', 26),
 ('Perfect Engineering Services', 'Vikesh Kumar Sood', '+919891016735', 53),
 ('VAUTOMAT & INSTRUMENTS PVT LTD', 'ANAND SHUKLA', '+919312092738', 62),
 ('BDK Valves ', 'Renuka Thakarda', '+919930127069', 123)]

## 3. Saving Final Relevant Outputs

In [63]:
# save the tokenized dfs
df_exhibitors_ml_easy.to_csv('exhibitors_tokenized.csv', index=False)
df_visitors_ml.to_csv('visitors_tokenized.csv', index=False)